@import "fonts"
@import "vars"
@import "normalize"
@import "mixins"

*
  transition: $transition
  box-sizing: border-box
  &:active,
  &:hover,
  &:focus
    outline: 0
    outline-offset: 0

::-webkit-scrollbar
  width: 0px

body
  position: relative
  opacity: 0
  z-index: 0
  font-family: 'jetbrains'
  font-size: 12px
  background: $white
  color: $black
  width: 100%
  height: 100%
  -webkit-font-smoothing: antialiased
  text-size-adjust: 100%
  text-rendering: optimizelegibility

p
  margin: 0
  margin-bottom: 1rem

a
  color: inherit
  transition: none
  &:hover
    color: $black

.container
  width: 100%
  padding: 20px
  max-width: 500px
  margin: auto

  .title
    font-weight: 700
    font-size: 18px
    text-align: center
    margin-bottom: 20px

.cover
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  row-gap: 50px
  background: $white
  padding: 20px
  position: fixed
  top: 0
  flex-direction: column

  .title
    font-size: calc(1em + 2vw)
    font-weight: 700

.motion, .settings
  display: flex
  justify-content: space-between
  flex-direction: column
  > div
    display: flex
    justify-content: space-between
    align-items: center
  &__is-motion
    color: $red
    transition: none
  &--yes
    color: $green

.motion
  transition: $transition-long

.inactive
  filter: contrast(0.1)

.warning
  color: $red

.button
  position: absolute
  bottom: 0
  display: flex
  justify-content: center
  border: 1px $black solid
  border-radius: 30px
  padding: 15px
  margin: 20px
  font-weight: 600
  cursor: pointer
  max-width: 400px
  width: calc(100% - 40px)
  background-color: $white

.run
  &--is-running
    display: none

.test
  bottom: 100px

.settings
  margin-top: 15px
  > div
    margin-top: 15px

input, select
  background-color: $white
  border: none
  border-bottom: 1px solid $black
  width: 100%
  max-width: 115px;
  text-align: right

input[type="number"]
	-moz-appearance: textfield
	-webkit-appearance: textfield
	appearance: textfield

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
	display: none

input[type="radio"]
  appearance: none
  border: 1px solid $black
  width: 10px
  height: 10px
  border-radius: 50%
  min-width: 10px

  &:checked
    border: 4px solid $black

input[type="checkbox"]
  appearance: none
  width: 10px
  border: 1px solid $black
  height: 10px
  border-radius: 0px
  min-width: 10px

  &:checked
    background-color: $black

select
  text-align: right
  appearance: none

.frontendDesktop,
.frontendMobile
  display: none

.errors
  max-width: 80%
  display: flex
  flex-direction: column
  row-gap: 10px
  &__message
    color: $red

.radio-element,
.checkbox-element
  display: flex
  column-gap: 5px
  align-items: center

.radio-element
  label
    width: 100%

.info
  display: none

  .regime
    font-weight: 600
    color: $black

  .connections
    div
      display: flex
      align-items: center

      &::before
        content: ''
        width: 8px
        height: 8px
        border-radius: 50%
        top: 0
        left: 0
        display: inline-block
        margin-right: 5px

    &--ready
      &::before
        background-color: $green

    &--wait
      &::before
        background-color: $orange
        animation: blink 1s infinite

        @keyframes blink
          0%
            opacity: 0
          50%
            opacity: 1
          100%
            opacity: 0

    &--error
      &::before
        background-color: $red

.synthesis-regime,
.oscillator-regime,
.frequency-regime,
.notes-range,
.frequencies-range,
.gain-generation,
.lite,
.filter-element,
.compressor-element,
.lfo,
.sphere
  flex-direction: column
  align-items: flex-start !important

  &__container
    display: flex
    column-gap: 20px

.notes-range, .frequencies-range, .filter-element, .compressor-element, .lfo
  &__container
    justify-content: space-between
    width: 100%
    margin-top: 15px

.frequency-regime, .oscillator-regime, .gain-generation, .lite, .sphere
  @media (min-width: 500px)
    flex-direction: row

.interface-regime-container
  position: relative
  width: 100%
  display: flex
  justify-content: center

.interface-regime
  position: fixed

.interface-regime-on
  width: 100%
  height: 100%
  position: absolute
  display: none
  justify-content: center
  align-items: center
  padding: 40px
  top: 0

  &__button
    border: 1px $black solid
    border-radius: 50%
    width: 50px
    height: 50px
    position: absolute
    transition: none
    bottom: 40px

  &__line
    height: 1px
    width: 100%
    position: absolute
    top: 75px
    border-top: 1px solid black

  &__text
    text-align: center
    user-select: none

.release-container, .attenuation-container, .motion__count-container
  display: flex

.frequencies-range, .notes-range, .filter-element, .compressor-element, .lfo
  border-left: 1px solid black
  padding-left: 10px

  > span
    font-weight: 700

.container.mobile
  padding-bottom: 100px

.lfo
  &__container
    &--radio
      width: auto
      margin-top: 0