@import "fonts"
@import "vars"
@import "normalize"
@import "mixins"

*
  transition: $transition
  box-sizing: border-box
  &:active,
  &:hover,
  &:focus
    outline: 0
    outline-offset: 0

::-webkit-scrollbar
  width: 0px

body
  position: relative
  opacity: 0
  z-index: 0
  font-family: 'jetbrains'
  font-size: 12px
  background: $white
  color: $black
  width: 100%
  height: 100%
  -webkit-font-smoothing: antialiased
  text-size-adjust: 100%
  text-rendering: optimizelegibility

p
  margin: 0
  margin-bottom: 1rem

a
  color: inherit
  transition: none
  &:hover
    color: $black

.container
  width: 100%
  height: 100%
  padding: 20px
  max-width: 1000px
  margin: auto

  .title
    font-weight: 700
    font-size: 18px
    text-align: center
    margin-bottom: 20px

.cover
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  row-gap: 50px
  background: $white
  padding: 20px
  position: fixed
  top: 0
  flex-direction: column

  .title
    font-size: calc(1em + 2vw)
    font-weight: 700

.motion, .settings
  display: flex
  justify-content: space-between
  flex-direction: column
  > div
    display: flex
    justify-content: space-between
    align-items: center
  &__is-motion
    color: $red
    transition: none
  &--yes
    color: $green

.button
  position: absolute
  bottom: 0
  display: flex
  justify-content: center
  border: 1px black solid
  border-radius: 30px
  padding: 15px
  margin: 20px
  font-weight: 600
  cursor: pointer
  max-width: 400px
  width: calc(100% - 40px)

.run
  &--is-running
    // opacity: .2
    display: none

.test
  bottom: 100px

.settings
  margin-top: 15px
  > div
    margin-top: 15px

input, select
  background-color: $white
  border: none
  border-bottom: 1px solid black
  width: 83px
  border-radius: 10%
  text-align: center

input[type="radio"]
  appearance: none
  border: 1px solid black
  width: 10px
  height: 10px
  border-radius: 50%
  min-width: 10px

  &:checked
    border: 4px solid black

input[type="checkbox"]
  appearance: none
  width: 10px
  border: 1px solid $black
  height: 10px
  border-radius: 0px
  min-width: 10px

  &:checked
    background-color: $black

select
  text-align: left

.frontendDesktop,
.frontendMobile
  display: none

.errors
  max-width: 80%
  display: flex
  flex-direction: column
  row-gap: 10px
  &__message
    color: $red

.oscillator-regime
  input
    // width: auto

.radio-element,
.checkbox-element
  display: flex
  column-gap: 5px
  align-items: center

.radio-element
  label
    width: 100%

.info
  .regime
    font-weight: 600
    color: $brown

  .connections
    div
      display: flex
      align-items: center

      &::before
        content: ''
        width: 7px
        height: 7px
        border-radius: 50%
        top: 0
        left: 0
        display: inline-block
        margin-right: 5px

    &--ready
      &::before
        background-color: $green

    &--wait
      &::before
        background-color: $orange
        animation: blink 1s infinite

        @keyframes blink
          0%
            opacity: 0
          50%
            opacity: 1
          100%
            opacity: 0

    &--error
      &::before
        background-color: $red

.notes
  display: grid
  grid-template-columns: repeat(12, 1fr)
  grid-row-gap: 5px
  margin-top: 15px;

  span
    font-size: 4px

  &--active
    font-weight: 600
    color: $green
    font-size: 5px !important

.tuner
  position: relative
  margin-top: 15px

  &__min
  &__actual
    position: absolute
    transition: none
  &__max
    position: absolute
    right: 0

.synthesis-regime, .oscillator-regime, .frequency-regime, .notes-range, .frequencies-range
  flex-direction: column
  align-items: flex-start !important

  &__container
    display: flex
    column-gap: 20px

.notes-range, .frequencies-range
  &__container
    width: 100%
    justify-content: space-between
