<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115448094-3"></script>
<script>
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag('js', new Date())
  gtag('config', 'UA-115448094-3')
</script>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="Кюс" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="keywords" content="kiuss, Кюс" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Kiuss" />
<meta property="og:description" content="Кюс" />
<meta property="og:locale" content="ru_RU" />
<meta property="og:site_name" content="Kiuss" />
<meta property="og:url" content="//stranno.su" />
<meta property="og:image" content="./img/favicons/og.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="536" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="./img/favicons/og.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png" />
<link rel="shortcut icon" href="/img/favicons/favicon.ico" />
